/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Ignorar arquivos de histórico e configuração do sistema
.bash_history
.bash_history-*
.bash_logout
.bashrc
.cache/
.config/
.docker/
.dotnet/
.eclipse/
.gitconfig
.gnupg/
.h2.server.properties
.ipython/
.lemminx/
.lesshst
.local/
.m2/
.mysql_history
.node_repl_history
.npm/
.nvm/
.p2/
.pki/
.profile
.psql_history
.python_history
.redhat/
.sdkman/
.sqlite_history
.ssh/
.sts4/
.sudo_as_admin_successful
.swt/
.vscode/
.wget-hsts
.zshrc

# Ignorar diretórios de projetos e dados
Desktop/
FINANCEIRO.ods
anotações/
arquivosGithub/
cod/
aaobser/
app_super_gestao/
dado_sanctum/
projeto_restaurante_app/
registros-app/
teste-voz-backend/
curriculos e certificados/
docker/
imersãoBack/
java/
node/
node_modules/
package-lock.json
package.json
patterns/
vue js/
Downloads/
Imagens/
eclipse-workspace/
mysql-apt-config_0.8.26-1_all.deb*
mysql-workbench-community_8.0.34-1ubuntu22.04_amd64.deb
projects em C/
snap/
Área de trabalho/
